# 아래의 코드는  'PRICE' 예측 모델을 생성하는 과정입니다.

## 문제 1) 2) 3) 에 대한 답변은 맨 아래에 있습니다

In [1]:
# 향후 버전 업에 대한 경고 메시지 출력 안하기 
import warnings

warnings.filterwarnings(action='ignore')

In [2]:
#데이터 수집을 위한 import
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
boston =  load_boston()

In [3]:
#Training을 위한 import
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
#보스턴 데이터프레임 선언
boston_df = pd.DataFrame(boston.data, columns = boston.feature_names)

In [6]:
boston_df["PRICE"] = boston.target

In [7]:
boston_df["PRICE"] = boston.target

In [8]:
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

# Training 시작 (전체 요소)

In [9]:
# X, Y 분할
Y = boston_df['PRICE']
X = boston_df.drop(['PRICE'], axis=1, inplace=False)

In [10]:
#Train 데이터셋과 Test 데이터셋 분할
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=156)

In [11]:
# 선형회귀분석 모델
lr = LinearRegression()

In [12]:
# 선형회귀분석 모델 훈련
lr.fit(X_train, Y_train)

LinearRegression()

In [13]:
# 선형회귀분석 : 평가 데이터에 대한 예측 수행 -> 예측 결과 Y_predict 구하기
Y_predict = lr.predict(X_test)

In [14]:
mse = mean_squared_error(Y_test, Y_predict)
rmse = np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3f}'.format(mse, rmse))
print('R^2(Variance score) : {0:.3f}'.format(r2_score(Y_test, Y_predict)))

MSE : 17.297, RMSE : 4.159
R^2(Variance score) : 0.757

In [15]:
print('Y 절편 값: ', lr.intercept_)
print('회귀 계수 값: ', np.round(lr.coef_, 1))

Y 절편 값:  40.995595172164336
회귀 계수 값:  [ -0.1   0.1   0.    3.  -19.8   3.4   0.   -1.7   0.4  -0.   -0.9   0.
  -0.6]

In [16]:
coef = pd.Series(data = np.round(lr.coef_, 2), index=X.columns)
coef.sort_values(ascending = False)

RM          3.35
CHAS        3.05
RAD         0.36
ZN          0.07
INDUS       0.03
B           0.01
AGE         0.01
TAX        -0.01
CRIM       -0.11
LSTAT      -0.57
PTRATIO    -0.92
DIS        -1.74
NOX       -19.80
dtype: float64

In [17]:
df= pd.DataFrame(boston.data, columns = boston.feature_names)

In [18]:
#PRICE를 선형회귀분석결과의 식 대입 값으로 적용
df['PRICE']=((df['RM']*3.35)+
             (df['CHAS']*3.05)+
             (df['RAD']*0.36)+
             (df['ZN']*0.07)+
             (df['INDUS']*0.03)+
             (df['B']*0.01)+
             (df['AGE']*0.01)+
             (df['TAX']*(-0.01))+
             (df['CRIM']*(-0.11))+
             (df['LSTAT']*(-0.57))+
             (df['PTRATIO']*(-0.92))+
             (df['DIS']*(-1.74))+
             (df['NOX']*(-19.8)))+41

In [19]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,31.692255
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,26.262692
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,31.516094
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,29.273011
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,28.512526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,25.188397
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,24.399670
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,29.578166
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,28.047559
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,24.444485

# 2개 변수 선정

In [31]:
boston_df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
PRICE,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

## 위에 상관계수의 절대값을 보면, 가장 높은 두 요소는 'LSTAT'과 'RM' 이다

# Training 시작 (RM, LSTAT)

In [20]:
# X, Y 분할
Y2 = boston_df['PRICE']
X2 = boston_df[['RM','LSTAT']]

In [21]:
X_train2, X_test2, Y_train2, Y_test2 = train_test_split(X2, Y2, test_size=0.3, random_state=156)

In [22]:
lr2 = LinearRegression()

In [23]:
lr2.fit(X_train2, Y_train2)

LinearRegression()

In [24]:
Y_predict2 = lr2.predict(X_test2)

In [25]:
mse2 = mean_squared_error(Y_test2, Y_predict2)
rmse2 = np.sqrt(mse2)

print('MSE : {0:.3f}, RMSE : {1:.3f}'.format(mse2, rmse2))
print('R^2(Variance score) : {0:.3f}'.format(r2_score(Y_test2, Y_predict2)))

MSE : 22.113, RMSE : 4.702
R^2(Variance score) : 0.690

In [26]:
print('Y 절편 값: ', lr2.intercept_)
print('회귀 계수 값: ', np.round(lr2.coef_, 1))

Y 절편 값:  0.7117169081123471
회귀 계수 값:  [ 4.8 -0.6]

In [27]:
coef = pd.Series(data = np.round(lr2.coef_, 2), index=X2.columns)
coef.sort_values(ascending = False)

RM       4.84
LSTAT   -0.64
dtype: float64

In [28]:
df2=pd.DataFrame(boston.data, columns = boston.feature_names)

In [42]:
#PRICE를 선형회귀분석결과의 식 대입 값으로 적용
df2['PRICE'] = df2['RM']*4.84 + df2['LSTAT']*(-0.64) + lr2.intercept_

In [43]:
df2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,29.347517
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,25.939757
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,32.907917
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,32.700437
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,31.891997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,26.433037
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,24.521317
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,30.865957
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,29.447477
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,24.853717

# 문제 답변

## (1) R2 기준으로 최고 정확도를 보여주는 모델을 PRICE = b0 + b1X1 + b2X2 형태로 제시하라.

PRICE = 0.7 + (RM * 4.84) + (LSTAT * (-0.64))

In [34]:
df2['PRICE'] = df2['RM']*4.84 + df2['LSTAT']*(-0.64) + 0.7
df2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,29.33580
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,25.92804
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,32.89620
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,32.68872
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,31.88028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,26.42132
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,24.50960
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,30.85424
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,29.43576
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,24.84200

## (2) 2개 이용 예측모델과 13개를 이용 예측모델의 R2를 제시하라.

### 2개(RM, LSTAT) 이용 R2

In [37]:
print('R^2(Variance score) : {0:.3f}'.format(r2_score(Y_test2, Y_predict2)))

R^2(Variance score) : 0.690

### 13개 이용 R2

In [36]:
print('R^2(Variance score) : {0:.3f}'.format(r2_score(Y_test, Y_predict)))

R^2(Variance score) : 0.757

##  (3) 두개 변수를 쉽게 선택하기 위한 기준이 있는지 교재 실험결과를 이용하여 연관성을 설명하라.

### - 함께 첨부한 PPT파일 참조

### 변수 선정의 유효성 검증단계

In [38]:
boston_df2 = pd.DataFrame(boston.data, columns = boston.feature_names)
boston_df2["PRICE"] = boston.target

In [39]:
lr3 = LinearRegression()
R2 = []

In [40]:
for i in boston_df2:
    for j in boston_df2.drop([i,'PRICE'], axis=1, inplace=False):
        Y3 = boston_df2['PRICE']
        X3 = boston_df2[[i,j]]
        X_train3, X_test3, Y_train3, Y_test3 = train_test_split(X3, Y3, test_size=0.3, random_state=156)
        lr3.fit(X_train3, Y_train3)
        Y_predict3 = lr3.predict(X_test3)
        # 아래의 print문 2개의 주석을 해제하면, 각 2개의 컬럼별로의 R^2를 확인할 수 있다.
        #print('{} {}'.format(i,j), end=" : ")
        #print('R^2(Variance score) : {0:.3f}'.format(r2_score(Y_test3, Y_predict3)))
        R2.append(r2_score(Y_test3, Y_predict3))
    del boston_df2[i]

In [41]:
max(R2)
# 모든 R^2의 값들에 대한 최댓값은 0.690(반올림값)이다.

0.6896277683743158